body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float: left;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title_container {
    float: left;
    margin: 435px 0px 0px 403px;
    color: #2c384a;
    text-align: center;
}

.title_container > h1 {
    font-size: 60px;
    font-weight: bold;
}

.title_container > h4 {
    margin-top: 50px;
    color: #b2b6bd;
    font-size: 22px;
}

.title_container > input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 8px;
    width: 93px;
    color: #6d7682;
    font-size: 13px;
    margin: 58px 14px 0px 14px;
    padding: auto
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #263244;
    text-align: center;
    font-weight: bold;
    padding-top: 109px;
}


.about > img {
    margin-left: 897px;
    margin-right: auto;
    margin-top: 32px;
}


.about {
    margin-top: 109px;
    background-color: #fff;
    width: 100%;
    float: left;
    height: 716px;

}

.about_container > img {
    padding: 32px;
    margin-left: 840px;

}

.about_container > p {
    margin: 21px 0px 21px 620px;
}

.about_container > input {
    height: 40px;
    border: 2px solid #6d7682;
    background: url(../img/download.jpg) no-repeat 15px;
    border-radius: 8px;
    width: 155px;
    color: #6d7682;
    font-size: 13px;
    margin: 37px 860px;
    padding: 0px 23px 0px 37px;
}

.my_skills {
    width: 100%;
    float: left;
    height: 524px;
    padding-left: 250px;
    padding-right: 250px;
    background-image: url(../img/bg2.jpg)
}

.my_skills_header > img {
    margin-left: 645px;
    margin-right: auto;
    margin-top: 20px;
}

.skill_parts {
    float: left;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 103px;
    margin-left: 41px;
}

.skill_parts > h3 {
    font-size: 16px;
    color: #e88401;
    font-weight: bold;
    line-height: 70px;
}

.cases {
    background-color: #fff;
    width: 100%;
    float: left;
    height: 1245px;
}

.cases_header {
    text-align: center;

}

.cases_header > img {
    margin-top: 32px;
}

.cases_header > p {
    margin-top: 20px;
}

.case_part {
    margin: 40px 0px 0px 350px;
    color: #525a69;
    font-weight: 500;
    width: 300px;
    float: left;
    height: 110px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    color: #384354;
    height: 26px;
    margin-top: 18px;
}

.project_name {
    margin: 40px 400px 0px 0px;
    float: right;
    width: 800px;
    height: 110px;
}

.cases > input {
    height: 40px;
    border: 0px solid #6d7682;
    background-color: #63b5ae;
    border-radius: 5px;
    width: 202px;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
    margin: 26px 0px 0px 350px;
}

.price {
    height: 754px;
    width: 100%;
    background: color #fff;
    float: left;

}

.price_part h3 {
    font-size: 23px;
    font-weight: bold;
}

.price_part {
    margin: 61px 0px 51px 495px;
}

.price img {
    margin-left: 495px;
}

.price_part select {
    width: 895px;
    height: 62px;
    background-color: #eee;
    font-size: 11px;
    color: #737373;
}

.price_results p {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.leftside {
    float: left;
    margin-left: 495px;
    height: 56px;
    width: auto;

}

.rightside {
    float: right;
    margin-right: 495px;
    margin-top: 14px;
    height: 56px;
    width: auto;
}

.stats {
    float: left;
    width: 100%;
    background: url(../img/bg3.jpg) 100% no-repeat;
}

.stats_header {
    width: 100%;
}

.stats_header img {
    margin-left: 913px;
    margin-top: 31px;
}

.stats_parts {
    width: 100%;
    height: 337px;
    margin-left: 440px;
    margin-right: auto;
}


.stats_part {
    float: left;
    text-align: center;
    width: 250px;
    margin-top: 86px;
}

.stats_part h3 {
    font-size: 30px;
    font-weight: 800;
    color: #323e4f;
    margin-top: 35px;
    margin-bottom: 30px;
}

.stats_part p{
    font-size: 13px;
    color: #323e4f;
    text-transform: uppercase;
    font-weight: bold;
    
}

.feedback{
    width: 100%;
    height: 593px;
    float: left;
}

.feedback_header img{
    margin: 33px 0px 0px 913px;
}

.feedback_txt img{
    margin: 60px 0px 34px 0px;
}

.feedback_txt{
    text-align: center;
    font-size: 14px;
    width: 720px;
    margin-left: 575px;
}

.feedback_txt p{
    margin-top: 37px;
}

.contacts{
    height: 810px;
    width: 100%;
    text-align: center;
    color: #fff;
    background-image: url(../img/bg4.jpg);
    backface-visibility: visible;
    float: left;
}

.contacts_header p{
    font-size: 13px;
}

.contacts_header img{
    margin: 36px 0px 34px 0px;
}

.contacts_header h2{
    color: #fff;
}
.contact_parts{
    width: 100%;
    margin-left: 654px;
    margin-top: 25px;
    height: 113px;
}

.contact_part{
    float: left;
    margin-right: 105px;
    width: 137px;
   
}

.contact_part p{
    margin-top: 15px;
    font-size: 12px;
}

.send_info{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.send_info p{
    margin-bottom: 25px;
    
}

.name_text{
    width: 100%;
}

.name{
    height: 50px;
    float: left;
    margin-left: 660px;
    margin-right: 29px;
    padding-right: 120px;
    padding-bottom: 34px;
    margin-bottom: 14px;
    
}

.text{
    height: 50px;
    float: left;
    padding-right: 120px;
    padding-bottom: 34px;
    margin-bottom: 14px;
    margin-right: 500px;
}

textarea{
    
    width: 610px;
    margin-left: 23px;
    margin-right: calc(100%-698px);
}

.button input{
    margin-top: 27px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 123px;
    height: 44px;
    background: none;
    color: #fff;
    margin-bottom: 26px;
}

.twitter{
    float: left;
    margin-left: 824px;
}

.inst{
    float: right;
    margin-right: 815px;
}

        


footer{
    background-color: #354051;
    color: #fff;
    text-align: center;
    line-height: 100px;
    }

